.block {
    display:flex;

}

.item {
    margin: 10px;
    width: 100px;
}

.priority {
    width:100px;
    margin: 10px;
}

.high {
    color:red;
}

.middle {
    color:orange;
}

.low {
    color: deepskyblue;
}

.button_delete {
    color:red;
    background: peachpuff;
}

.button_priority {
    margin-left:10px;
    width: 60px;
    color:black;
    background: peachpuff;
}

.button_priority_high {
    margin-left:30px;
    width: 60px;
    color:black;
    background: red;
}

.button_priority_middle {
    margin-left:30px;
    width: 60px;
    color:black;
    background: orange;
}

.button_priority_low {
    margin-left:30px;
    width: 60px;
    color:black;
    background: deepskyblue;
}